<h1>New Sketch:</h1>

<form method="post" action="/sketches">

  <label>Sketch URL:
    <input type="text" name="sketch_url">
  </label>

  <label>Date:
    <input type="date" name="sketch_date">
  </label>

  <input type="submit" value="Create Sketch">

</form>
