  <body>
    <header>Here's some more info about me!</header>
    <section id="basic-info" class="lists top-of-the-page important">
      <img src="Cute-cats-with-glasses-2.gif" height="200" alt="CUTE CAT PIC">
      <ul>
        <li>I like reading and walking, but not necessarily at the same time.</li>
        <li>I like maps! Especially transportation maps.</li>
        <li>I'm from NYC, but went to school in upstate New York.</li>
        <li>My favorite season is winter because I love hats.</li>
        <li><a href="/index">Back to the front page</a></li>
        <li><a href="/lunch">Lunchtime!</a></li>
      </ul>
    </section>
    <footer>Made by krismacfarlane</footer>
  </body>

