<!doctype html>
<html>
  <head>
    <!--info about the document-->
    <meta charset="utf-8" />
    <title>My Profile Page</title>
    <meta name="description" content="This is my profile page."/>
    <link rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/3.0.2/normalize.css" >
    <link rel="stylesheet" type="text/css" href="style.css" >
  </head>

  <%= yield %>

</html>
