  <body>
    <header>What did I have for lunch?</header>
    <section id="basic-info" class="lists top-of-the-page important">
      <img src="Cute-cats-with-glasses-2.gif" height="200" alt="CUTE CAT PIC">
      <ul>
        <li>Chips</li>
        <li>Black Beans</li>
        <li>Chicken</li>
        <li>Lettuce</li>
        <li>Salsa</li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/index">Front Page</a></li>
      </ul>
    </section>
    <section id="statement" class="important">
      <p>IT WAS DELICIOUS!</p>
    </section>
    <footer>Made by krismacfarlane</footer>
  </body>

