<body>
  <p>Which kid is having the problem?</p>
  <button id="button"><a href="/credits">Stephanie</a></button>
  <button id="button"><a href="/kids_or_parents">Michelle</a></button>
  <button id="button"><a href="/credits">DJ</a></button>
</body>
