<body>
  <p>Establishing shot of San Francisco row houses</p>
  <img alt="San Fran" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoT-uC3qbQfj__eNqmhbxhND1P97WcHmBrYhu9T9v7Zta1qTy49531Fg" width="200px" />
  <p>Do we cut to the kids or parents?</p>
  <button id="button"><a href="/kids">Kids</a></button>
  <button id="button"><a href="/parents">Parents</a></button>
</body>
