<body>
  <p>Which parent?</p>
  <button id="button"><a href="/kid_problems">Danny Tanner</a></button>
  <button id="button"><a href="/kids_or_parents">Uncle Jesse</a></button>
  <button id="button"><a href="/kids_or_parents">Uncle Joey</a></button>
</body>
