html {
  background-color: black
}

p {
  font-size: 200%;
  color: white;
  text-align: center;
}

#button {
  color: white;
  font-family:'Helvetica Neue',sans-serif;
  font-size:18px;
  line-height:30px;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  width:120px;
  height:32px
  margin:          20px;
  padding:         15px 0;
}

.green {
  background-color: green;
}

.blue {
  background-color: dodgerblue;
}

.red {
  background-color: red;
}
