<ul>
<% @students.each do |student| %>
  <li>
    <a href="/students/<%= student %>">
<<<<<<< HEAD
      <img src = "http://www.gravatar.com/avatar/<%= student %>" %></li>
    </a>
=======
      <img src="http://www.gravatar.com/avatar/<%= student %>" alt="picture">
    </a>
  </li>
>>>>>>> c099948064a933f64ac72e44335b76ee75f37f5c
<% end %>
</ul>
