<ul class="countries-list" id="countries-container">

<!-- list all the countries here -->
</ul>

<div id="country-main">

</div>

<script id="side-country-template" type="text/template">
  <p><%%= name %><p>
</script>

<script id="country-template" type="text/template">
  <h1 id="country-name"><%%= name %></h1>
  <p>Language: <%%= language %></p>
  <p>Population: <%%= population %></p>
  <p>Area in Square Kilometers: <%%= area %></p>
  <div id="flag-overlay">
    <img src="<%%= image_url %>" alt="<%%= name %>">
  </div>
  <label>
    <input type="checkbox" name="annihilated">
    Annihilate!
  </label>
</script>
