body {
  font: 16px/1.4 Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.downsized {
  width: 80%;
  margin: 0 auto;
}

.pushy {
  margin-bottom: 40px;
}

.operation {
  margin: 0 auto;
  display: inline-block;
  width: 398px;
  vertical-align: top;
}

.gutter {
  display: inline-block;
  width: 5%;
}

.main {
  width: 960px;
  margin: 0 auto;
}

img {
  display: block;
}

/*==================================*/
/* Write Your Styles below!!! */
/*==================================*/

.heart {
  position: absolute;
  top: 315px;
  right:200px;
  bottom:200px;
  left:680px;
}

.butterflies {
  position: absolute;
  top: 430px;
  right:200px;
  bottom:200px;
  left:656px;
}

.wishbone {
  position: absolute;
  top: 290px;
  right:200px;
  bottom:200px;
  left:610px;
}

.breadbasket {
  position: absolute;
  top: 537px;
  right:200px;
  bottom:200px;
  left:633px;
}
