<div id="content">
  <div class="task-create">
    <header>
      <h1>Todo.ly</h1>
      <h2>Get stuff done!</h2>
    </header>
    <form>
      <fieldset>
        <legend>Create a New Task</legend>
        <label>
          New Task <input type="text" name="item" />
        </label>
        <button id="save">Save</button>
      </fieldset>
    </form>
  </div>
  <div class="task-list">
    <h3>Tasks To Do</h3>
    <ul id="tasks">

<script id="task-template" type="application/template">

    <p class="task-description"><%%=description%></p>
    <p class="complete-field"><%%=is_complete%></p>

</script>

    </ul>
  </div>
</div>
