<!doctype>
<html>
<head>
  <title> StarStalker.com </title>
</head>
<body>
  <h1>About Star Stalker</h1>

  <p>Star Stalker was established in Dec 2014 and provides up to date information on all your favorite celebrities!</p>

  <ul>
    <li><a href="/about">ABOUT</a>
    <li><a href="/stars">CHECK OUT THE STARS</a>
  </ul>
</body>
</html>
