<!doctype>
<html>
<head>
  <title> StarStalker.com </title>
</head>
<body>
  <h1>Welcome to StarStalker.com</h1>

  <ul>
    <li><a href="/about">ABOUT</a>
    <li><a href="/stars">CHECK OUT THE STARS</a>
  </ul>
</body>
</html>
