<!doctype>
<html>
<head>
  <title> StarStalker.com </title>
</head>
<body>
  <h1>Pick from the celebrities below:</h1>

  <ul>
    <li><a href="/stars/0">Jim Morrison</a>
    <li><a href="/stars/1">Michael Jackson</a>
    <li><a href="/stars/2">Madonna Jackson</a>
    <li><a href="/stars/3">Kenny Baker</a>
  </ul>
</body>
</html>
