  <form method="post" action="/koopas">
    <label>Koopa's name:
    <input type="text" name="name">
    </label>

    <label>Koopa's color:
    <input type="color" name="color">
    </label>

    <label>Koopa's photo url:
    <input type="url" name="photo_url">
    </label>

    <label>Does this Koopa have a shell?
    <input type="radio" name="has_shell" value="true" checked>Yes
    <input type="radio" name="has_shell" value="false">No
    </label>

    <input type="submit" value="Submit new Koopa">
  </form>
