/* ===== Color Values ===== */
/* blue: rgb(16, 118, 221) */
/* red: rgb(249, 68, 30) */

/* Brings in the "Futura" Font */
@font-face {
  font-family: "Futura";
  src: url(../fonts/futura-medium-webfont.woff);
}

html {
  font-family: Futura;
  background-color: rgb(246, 240, 102);
}

/* ======================================= */
/*    Students: Write Your Styles Below!   */
/* ======================================= */

.main {
  position: absolute;
  top:75px;
  bottom:200px;
  left:200px;
  right:200px;
}

.text1 {
  position: absolute;
  top:150px;
  bottom:200px;
  left:500px;
  right:200px;
  color: blue;
  font-size: 150px;
}

.text2 {
  position: absolute;
  top:300px;
  bottom:200px;
  left:500px;
  right:200px;
  color: red;
  font-size: 150px;
}
