<!doctype>
<html>
<head>
  <title> WDI Pick-me-up Generator </title>
</head>
<body>
  <h1><%= @greeting %>/h1>
  <%= @comp_them %>
  <ul>
    <li><a href="/">I'm still emotionally vacant. Give me another compliment.</a>
    <li><a href="http://www.ruby-doc.org/core-2.1.2/">I'm ready to soldier on.</a>
  </ul>
</body>
</html>
